body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 10px;
  padding: 15px;
}

.button-add {
  font-family: "Montserrat", sans-serif;
  background-color: #76e035;
  padding: 16px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-left: 10px;
}

.button-delete {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
  font-weight: bold;
  font-style: italic;
}

.App {
  display: flex;
  justify-content: space-around;
}

.whole-plan {
  width: 70%;
  height: 100vh;
}

.myInput {
  width: 68%;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  padding: 10px;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.selected {
  background-color: #fad106;
}

.default {
  background-color: #dcedf7;
}

.meal {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.field {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
